{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Edit Task {{id}}
</h1>
  <form method="POST" action='/tables/{{tablename}}/task/{{id}}/edit'>
      <div class="field">
          <div class="control">
              <input class="input is-large" type="name" name="name" placeholder="Task name">
          </div>
          <br>
          <div class="control">
              <textarea class="textarea" placeholder="Task description" name="description"></textarea>
          </div>
          <br>
      </div>
      <br>
      <h3 class="subtitle is-3">Status</h3>
      <div class="control">
        <label class="radio doer-radio">
          <input type="radio" name="status" value=0>
          To Do
        </label>
        <label class="radio">
          <input type="radio" name="status" value=1>
          In Progress
        </label>
        <label class="radio">
          <input type="radio" name="status" value=2>
          Done
        </label>
      </div>
      <br>
      <button class="button is-block is-info is-large is-fullwidth">Edit</button>
    </div>
  </form>
{% endblock %}
