{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Edit {{tablename.replace("_", " ")}}
  {{id}}
</h1>
  <form method="POST" action='/tables/{{tablename}}/{{id}}/edit'>
      <div class="field">
          <div class="control">
              <input class="input is-large" type="name" name="name" placeholder="Table name">
          </div>
          <br>
      </div>
      <br>
      <button class="button is-block is-info is-large is-fullwidth">Edit</button>
    </div>
  </form>
{% endblock %}
