{% extends "base.html" %}

{% block content %}
    <h1 class="title">
      Tasks for {{ tablename.replace("_", " ")}}:
    </h1>
   <button><a href="{{ url_for('main.new_task', tablename=tablename.replace(" ", "_")) }}">Create Task</a></button>
  {% for t in query %}
    {% if current_user.email == t.email %}
      <tr>
        <td>
          <a href="{{ url_for('main.task', tablename=tablename.replace(" ", "_"), id = t.id) }}">{{ t.name }}</a>
        </td>
        <td>
          {% if t.status == 0 %}
            To Do
          {% elif t.status == 1 %}
            In progress
          {% elif t.status == 2 %}
            Done
          {% endif %}
        </td>
      </tr>
    {% endif %}
  {% endfor %}
{% endblock %}
