{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Task
</h1>
  {% for t in query %}
  <table class="doer-table">
    <tr>
      <td>
          {{t.name}}
      </td>
      <td>
          <textarea class="doer-ta">{{t.description}}</textarea>
      </td>
      <td>
          {% if t.status == 0 %}
           <button class="button is-info doer-button">To Do</button>
          {% elif t.status == 1 %}
            <button class="button is-warning doer-button">In progress</button>
          {% elif t.status == 2 %}
            <button class="button is-success doer-button">Done</button>
          {% endif %}
      </td>
      <td>
          <button class="button is-link doer-button">
            <a href="{{ url_for('main.edit_task', tablename=tablename.replace(" ", "_"), id = t.id) }}">Edit</a>
          </button>
      </td>
      <td>
          <button class="button is-danger doer-button">
            <a href="{{ url_for('main.delete_task', tablename=tablename.replace(" ", "_"), id = t.id) }}">Delete</a>
          </button>
      </td>
    </tr>
  {% endfor %}
{% endblock %}
