.doer-table {
  margin: auto;
  text-align: center;
}

.doer-table td {
  vertical-align: top;
  padding-left: 10px;
}

.doer-button {
  margin-bottom: 20px;
  padding: 5px;
  margin-left: 5px;
}

.doer-radio {
  margin-left: 40%;
}

.doer-ta {
  border: none;
  background-color: #00d1b2;
  color: white;
  width: 250px;
  height: 60px;
}
