ansible==2.9.6
apache-libcloud==2.8.0
apt-xapian-index==0.49
apturl==0.5.2
argcomplete==1.8.1
attrs==21.2.0
backcall==0.2.0
bcrypt==3.1.7
blinker==1.4
catfish==1.4.13
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
command-not-found==0.3
cryptography==2.8
cupshelpers==1.0
dbus-python==1.2.16
decorator==5.1.0
defer==1.0.6
distro==1.4.0
distro-info===0.23ubuntu1
dnspython==1.16.0
entrypoints==0.3
flake8==3.9.2
flasgger==0.9.5
Flask==1.1.2
Flask-Cors==3.0.9
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
galternatives==1.0.6
greenlet==1.0.0
Guake==3.6.3
gunicorn==20.1.0
httplib2==0.14.0
idna==2.8
iniconfig==1.1.1
ipython==7.28.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
jmespath==0.9.4
jsonschema==3.2.0
keyring==18.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lightdm-gtk-greeter-settings==1.2.2
lockfile==0.12.2
lubuntu-update-notifier==0.1
MarkupSafe==1.1.1
matplotlib-inline==0.1.3
mccabe==0.6.1
menulibre==2.2.1
mistune==0.8.4
mugshot==0.4.2
mysql-connector-python==8.0.22
netaddr==0.7.19
netifaces==0.10.4
ntlm-auth==1.1.0
oauthlib==3.1.0
onboard==1.4.1
packaging==20.9
parso==0.8.2
pathtools==0.1.2
pbr==5.4.5
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
pluggy==0.13.1
prompt-toolkit==3.0.20
protobuf==3.14.0
proton-client==0.6.1
protonvpn-cli==3.9.1
protonvpn-gui==1.3.0
protonvpn-nm-lib==3.4.1
psutil==5.5.1
psycopg2-binary==2.9.1
py==1.10.0
pycairo==1.16.2
pycodestyle==2.7.0
pycrypto==2.6.1
pycups==1.9.73
pyflakes==2.3.1
Pygments==2.3.1
PyGObject==3.36.0
PyJWT==1.7.1
pykerberos==1.1.14
pyOpenSSL==19.0.0
pyparsing==2.4.7
PyQt5==5.14.1
pyrsistent==0.18.0
pytest==6.2.4
python-apt==2.0.0+ubuntu0.20.4.6
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-gnupg==0.4.5
pythondialog==3.4.0
pywinrm==0.3.0
pyxattr==0.6.1
pyxdg==0.26
PyYAML==5.3.1
reindent==3.5.1
reportlab==3.5.34
requests==2.22.0
requests-kerberos==0.12.0
requests-ntlm==1.1.0
requests-unixsocket==0.2.0
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
selinux==3.0
sgt-launcher==0.2.5
simplejson==3.16.0
sip==4.19.21
six==1.14.0
SQLAlchemy==1.4.6
systemd-python==234
toml==0.10.2
traitlets==5.1.0
ubuntu-advantage-tools==27.2
ubuntu-drivers-common==0.0.0
ufw==0.36
urllib3==1.25.8
usb-creator==0.3.7
wadllib==1.3.3
watchdog==0.10.4
wcwidth==0.2.5
Werkzeug==1.0.1
xcffib==0.8.1
xkit==0.0.0
xmltodict==0.12.0
youtube-dl==2020.3.24
